 <!-- /.content-wrapper -->
 <footer style="margin-top: -42px;" class="main-footer text-center">
    &copy;
    <script>
        document.write(new Date().getFullYear())
    </script> 
    <a href="#">Legal Diary</a>. All Rights Reserved.
</footer>