<header class="main-header">
    <div class="d-flex align-items-center logo-box justify-content-start">
        <!-- Logo -->
        <a href="#" class="logo">
            <!-- logo-->
            <div class="logo-mini w-50">
                <span class="light-logo"><img src="../../public/images/logo-letter.png" alt="logo"></span>
                <span class="dark-logo"><img src="../../public/images/logo-letter.png" alt="logo"></span>
            </div>
            <div class="logo-lg align-self-center">
                <span class="light-logo">
                    <h3 class="fs-25"><b>Legal Diary</b></h3>
                </span>
                <!-- <span class="light-logo"><img src="../../public/images/logo-dark-text.png" alt="logo"></span> -->
                <!-- <span class="dark-logo"><img src="../../public/images/logo-light-text.png" alt="logo"></span> -->
            </div>
        </a>
    </div>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <div class="app-menu">
            <ul class="header-megamenu nav">
                <li class="btn-group nav-item">
                    <a href="#" class="waves-effect waves-light nav-link push-btn btn-primary-light"
                        data-toggle="push-menu" role="button">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                </li>
                <li class="btn-group d-lg-inline-flex d-none">
                    <div class="app-menu">
                        <div class="search-bx mx-5">
                            <form>
                                <div class="input-group">
                                    <input type="search" class="form-control" placeholder="Search">
                                    <div class="input-group-append">
                                        <button class="btn" type="submit" id="button-addon3">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="navbar-custom-menu r-side">
            <ul class="nav navbar-nav">
                <li class="btn-group nav-item d-lg-inline-flex d-none">
                    <a href="#" data-provide="fullscreen"
                        class="waves-effect waves-light nav-link full-screen btn-primary-light" title="Full Screen">
                        <i class="fa-solid fa-expand"></i>
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</header>