<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">
        <div class="user-profile bb-1 px-20 py-10">
            <div class="d-block text-center">
                <div class="image">
                    <img src="../../public/images/avatar/avatar-13.png"
                        class="avatar avatar-xxl bg-primary-light rounded100" alt="User Image">
                </div>
                <div class="info pt-15">
                    <a class="px-20 fs-18 fw-500" href="#">Johen Doe</a>
                </div>
            </div>
            <ul class="list-inline profile-setting mt-20 mb-0 d-flex justify-content-center gap-3">
                <li><a href="mailbox.html" data-bs-toggle="tooltip" title="Email">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                </li>
                <li><a href="contact_app_chat.html" data-bs-toggle="tooltip" title="Chat">
                        <i class="fab fa-whatsapp"></i>
                    </a></li>
                <li><a href="auth_login.html" data-bs-toggle="tooltip" title="Logout">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </a></li>
            </ul>
        </div>
        <div class="multinav">
            <div class="multinav-scroll" style="height: 100%;">
                <!-- sidebar menu-->
                <ul class="sidebar-menu" data-widget="tree">
                    <li>
                        <a href="/admin/dashboard">
                            <i class="fa-solid fa-cubes"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="header">Components</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa-solid fa-user"></i>
                            <span>Cases</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/admin/addcases"><i class="fa-solid fa-code-commit"></i>Add Cases</a></li>
                            <li><a href="/admin/cases"><i class="fa-solid fa-code-commit"></i>Cases</a></li>
                        </ul>
                    </li>
                    
                </ul>

                <div class="sidebar-widgets">
                    <div class="copyright text-center m-25">
                        <p><strong class="d-block">Legal Diary</strong> ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script> All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>